.fullsize-tabs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fullsize-tabs .semi-tabs-content {
  width: 100%;
  height: 100%;
}

.fullsize-tabs .semi-tabs-pane {
  width: 100%;
  height: 100%;
}

.fullsize-tabs .semi-tabs-pane-motion-overlay {
  height: 100%;
}
